body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.section-1 {
    margin: 0;
    background-color: #1f2937;
    padding-bottom: 40px;
    color: white;
}

img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.header {
display: flex;
justify-content: space-around;
margin-bottom: 10%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.content-1 {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;

}

.section-1 p {
    max-width: 400px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 2px 10px;

}

.section-2 {
    text-align: center;
    padding: 20px;
}

.coffee-beans {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.section-3 {
    background-color:#e5e7eb;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-3 p {
    max-width: 400px;
}

.barista {
    margin-top: 70px;
}

.section-4 {
    display: flex;
    justify-content: center;
}

.card {
    margin: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
}

.button-2 {
    border: white solid 1px;
}

footer {
    background-color:#1f2937;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}